@import url('https://fonts.googleapis.com/css2? family = Abril + Fatface & family = Baloo + Da + 2: wght @ 400; 500; 600; 800 & family = Caveat & family = Dança + Script & family = Fruktur & family = Josefin + Laje: ital, wght @ 0,200; 0,600; 1,200; 1.300; 1.400; 1.600; 1.700 & family = Mochiy + Pop + One & family = Mulish: ital, wght @ 0,300; 0,400; 0,500; 0,700; 0,900; 1.200; 1.400; 1.500 & display = trocar');
        /*====fontes dessa linha pra cima====*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
        /*====Icones dessa linha pra cima====*/
/*Inicio da Estilizaçao*/
 *{
        margin: 0;
        padding:0;
        list-style: none;
        text-decoration: none;
 }

 .container{
         margin: 0 auto;
         max-width: 100%;
         padding: 0 auto;
 }
/*classes auxiliares*/
 .btn{
        background: #6a3093; 
        background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
        background: linear-gradient(to left, #a044ff, #6a3093);
        font-family: var(--font-action);
        font-size: .5rem;
        color: #eee;
        border-radius: .5rem;
        border: none;
        /*para criar uma sombra na "box"*/
        box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.4);
        cursor: pointer;
 }
 :root{
         --font-primary: "Baloo Da 2", serif;
         --font-secundary: "Josefin Slab", serif;
         --font-action: "Muli", serif;
 }

 html{
         scroll-behavior: smooth;
 }

 .hamburguer{
         width: 2rem;
         height: 2rem;
         position: fixed;
         z-index: 151;
         right: 2rem;
         top: 2rem;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         cursor: pointer;
 }

 .show-menu .hamburguer{
         right: 16rem;
 }

.line{
        width: 100%;
        height: .1rem;
        background-color: #fff;
        box-shadow: 0.1rem 0.1rem 1px #000;
        transition: transform 1s;
}

.show-menu #line1{
        transform: rotate(45deg) translate(.1rem, .69rem);
}

.show-menu #line2{
        opacity: 0;
        visibility: hidden;
}
.show-menu #line3{
        transform: rotate(-45deg) translate(-.2rem, -0.69rem);
}

.hamburguer span{
        position: absolute;
        left:3rem;
        height: 2rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#a044ff;
        color: white;
        font-family: var(--font-action);
        opacity: 0;
}

.hamburguer span::before{
        content: "";
        position: absolute;
        border-right: .5rem solid #a044ff;
        border-top: .5rem solid transparent;
        border-left: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        left: -1rem;
}

.show-menu .hamburguer:hover span{
        opacity: 1;
}

header{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;     
}

 .img-wrapper{
         width: 100%;
         height: 100%;
         overflow: hidden;
         background-color: rgba(0, 0, 0, 0.9);
 }
 .img-wrapper img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         opacity: 0.5;
         animation: zoom 10s;
 }

 /*@keyframes: são atributos*/
 @keyframes zoom{
        0% { transform: scale(1.3);}
        100%{ transform: scale(1);}
}

 .banner{
         position: absolute;
        top: 30%;
        left: 15%;
 }

 .banner h1{
         color: white;
         font-size: 3.5rem;
         font-family: var(--font-primary);
         font-weight: 200;
         text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
         line-height: 3.5rem;
         opacity: 0;
         animation: moveBanner 1s 0.5s forwards;
}

.banner p{
        color: white;
        font-family: var(--font-secundary);
        font-size: 2ren;
        text-shadow: .2rem .2rem rgba(0, 0, 0, 0.4);
        margin-bottom: 2rem;
        opacity: 0;
        animation: moveBanner 1.5s 0.7s forwards;
}

.banner button{
        font-family: var(--font-action);
        color: white;
        text-transform: uppercase;
        letter-spacing: .1rem;
        background: #6a3093; 
        background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
        background: linear-gradient(to left, #a044ff, #6a3093);
        padding: 1rem 3rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
        animation: moveBanner 2s 0.9s forwards;
}

@keyframes moveBanner{
        0%{
                transform: translateY(10rem) rotateY(-30deg);
        }
        100%{
                transform: translateY(0) rotateY(0);
                opacity: 1;
        }
}

.sidebar{
        width: 20rem;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 0;
        right: -20rem;
        transition: all 1s;
        z-index: 150;
}

.show-menu .sidebar{
        right: 0;

}

.menu{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.menu-item{
        font-family: var(--font-action);
        
}

.menu-item{
        text-align: center;
        color: #555;
        cursor: pointer;
        margin-bottom: .5rem;
        font-size: 1.5rem;
        transition: color 1s;
}

.menu-item:hover{
        color: #6a3093;
}

.social-media{
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display:flex;
        justify-content: space-evenly;
}

.social-media i{
        background-color: #6a3093; 
        color: rgba(255, 255, 255, 0.9);
        height: 2.5rem;
        width: 2.5rem;
        font-size: 2rem;
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius: 50%;
        transition: background-color 1s;
}

.social-media i:hover{
        background-color: #a044ff;

}

/*O grid-template-columns, é para fazer as colunas e o grid-template-rows, é para fazer as linhas*/
.conhecimentos{
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 7rem);
        row-gap: .5rem;
}
 /*quadro de posição: inicio*/
.conhecimento:nth-child(1){
        grid-column: 3 / 6;
        grid-row: 1/ 2;
}

.conhecimento:nth-child(2){
        grid-column: 2 / 5;
        grid-row: 3 / 6;
}

.conhecimento:nth-child(3){
        grid-column: 3 / 6;
        grid-row: 5 / -1;
}


.conhecimento:nth-child(4){
        grid-column: 12 / 15;
        grid-row: 1 / 2;
}

.conhecimento:nth-child(5){
        grid-column: 13 / 16;
        grid-row: 3 / 7;
}

.conhecimento:nth-child(6){
        grid-column: 12 / 15;
        grid-row: 5 / -1;
}
/*quadro de posição: final*/
.sessao-conhecimentos{
        background-color: #f5f5f5;
}

.sessao-header{
        display: flex;
        align-items: center;
        justify-content: center;
}

/*============Conhecimento========*/
.sessao-header h1{
        font-family: var(--font-primary);
        font-size: 3rem;
        color: #4b4b4b;
        border-bottom: #a044ff solid 3px;
        margin-bottom: 1.5rem;
}

.conhecimento-header{
        display: flex;
        align-items: center;
        color: #4b4b4b;
}

.conhecimento-header i{
        font-size: 2.5rem;
}
.conhecimento-header h3{
        font-family: var(--font-secundary);
        font-size: 2rem;
        padding-left: 1rem;
}

.conhecimento-text{
        font-family: var(--font-secundary);
        margin-top: 1rem;
}

.conhecimento-img-wrapper{
        grid-column: 7 / 11;
        grid-row: 2 / 6;
        width: 100%;
}

.conhecimento-img-wrapper img{
        /*especifica como o conteúdo de um elemento substituído deve ser ajustado à caixa estabelecida pela altura e largura usadas:*/
        object-fit: cover;
        width: 100%;
        border-radius: 50%;
}

/*===========projetos===========*/
.projetos{
        display: flex;
        justify-content: space-evenly;
}

.card{
        width: 18rem;
        height: 25rem;
        position: relative;
}

.card-img-wrapper{
        width: 100%;
        height: 100%;
        background-color: #262626;
        border-radius: .5rem;
}

.card-img-wrapper img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        opacity: .8;
        transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
        opacity: .5;
}

.card-info{
        position: absolute;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        padding: 2rem;
        /*acrescenta sombras ao texto:*/
        text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
        transition: all .3s;
}

.card-info h2{
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
        color: #eee;
}

.card-info h3{
        font-family: var(--font-secundary);
        font-size: bolder;
        color: #ff4081;
        margin-bottom: .5rem;
}

.card-info p{
        font-family: var(--font-secundary);
        color: #eee;
        font-weight: 400;
        width: 80%;
        margin-bottom: 2rem;
}

.card-info button{
        width: 8rem;
        height: 2.5rem;
}

.card:hover .card-info{
        bottom: 2rem;
        opacity: 1;
        /*visibilidade dos elementos:*/
        visibility: visible;
}

/*========Contatos=============*/
.sessao-contato{
        margin-top: 10px;
        width: 100vw;
        height: 100vh;
        background-color: #4e4c4c;
        display: flex;
        align-items: center;
        /*é empregada para alinhar os elementos ao longo do eixo principal:*/
        justify-content: center;
}

.contato-wrapper{
        width: 60%;
        height: 30rem;
        display: flex;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
}

.contato-left{
        width: 35%;
        background:
        linear-gradient(rgba(15,15,15, 0.6),rgba(22,22,22, 0.9)),
        url(imagem/cont01.jpg);
        background-size: cover;
}

.contato-right{
        width: 55%;
        background-color: #eee;
        padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
        width: 100%;
        /*para posicionar os texto:*/
        text-align: center;
        font-family: var(--font-primary);
        color: #272727;
        font-size: 3rem;
        font-weight: lighter;
}
.sessao-contato form{
        width: 100%;
        display: flex;
        flex-direction: column;
        /*para posicionar os itens*/
        align-items: center;
}

.input-group{
        position: relative;
}

.field{
        background-color: transparent;
        border: none;
        width: 20rem;
        font-size: 1.5rem;
        font-family: var(--font-secundary);
        border-bottom: 1.5px dashed #636363;
        height: 3rem;
        /*para tirar as bordas na seleção:*/
        outline: none;
        margin:1rem 0;
}

.input-group textarea{
        padding-top: 1rem;
        max-width: 20rem;
        max-height: 3;
}

.field-label{
        position: absolute;
        left: 0;
        top: 2rem;
        /*font-size: para alterar o tamanho das letras:*/
        font-size: 1.2rem;
        font-family: var(--font-secundary);
        /*para mudar se vai ser toda maiúscula ou não:*/
        text-transform: uppercase;
        transition: .3s;
}

/*:focus: é aplicada quando um elemento recebe foco:*/
.field:focus ~ label{
        top: 0;
        font-size: 1rem;

}
.field:focus {
        border-bottom: solid 1px;
}

.btn-submit{
        font-size: 1.5rem;
        /*Pode ser usado para fazer o texto aparecer todo em maiúsculas ou minúsculas, ou com cada palavra em maiúscula.*/
        text-transform: uppercase;
        width: 80%;
        height: 2.5rem;
        margin-top: 1rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
        text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.preenchido{
    pointer-events: none;
}

/*===========Oraçamento=========*/
.sessao-orcamento{
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url('https://www.udacity.com/blog/wp-content/uploads/2020/06/HTML_Blog-scaled.jpeg');
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
}

.orcamento-wrapper{
        width: 60%;
        height: 80%;
        background-color: #ffffff99;
        border-radius: 10px;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
        position: relative;
}

.sessao-orcamento h1{
        position: absolute;
        top: -2.5rem;
        left: 2rem;
        background: re; 
        background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
        background: linear-gradient(to left, #a044ff, #6a3093);
        padding: 0 3rem;
        color: blue;
        font-family:var(--font-primary);
        font-size: 3rem;
        font-weight: lighter;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;
}

.sessao-orcamento form{
        margin: 4rem;
        /*O display:grid é pra iniciar a criação de colunas e linhas*/
        display: grid;
        grid-template-columns: auto 1fr;
        /*O column-gap é pra criar espaço entre as colunas*/
        column-gap: 2rem;
        /*O row-gap é pra criar espaço entra as linhas*/
        row-gap: 2rem;
}

.sessao-orcamento label{
        font-family: var(--font-secundary);
        font-size: 1.5rem;
        font-weight: bold;
}

.sessao-orcamento input[type="number"]{
        font-family: var(--font-secundary);
        max-width: 4rem;
        font-size: 2rem;
        outline: none;
        border-radius: 10px;
        /*O border: none serve pra tirar a borda do input*/
        border: none;
        padding: 0.3rem;
}
.sessao-orcamento input[type="checkbox"]{
        font-family: var(--font-secundary);
        max-width: 1rem;
        font-size: 1rem;
        outline: none;
        border-radius: 10px;
        /*O border: none serve pra tirar a borda do input*/
        border: none;
        padding: 0.3rem;
}
.sessao-orcamento input[type="submit"]{
        max-width: 1rem;
        font-size: 1rem;
        /*O border: none serve pra tirar a borda do input*/
        border: none;
        padding: 0.3rem;
}

.btn-orcamento{
        text-transform: uppercase;
        padding: 1rem;
        cursor: pointer;
        grid-column: 2;
}

/*==============Rodapé==============*/
.footer{
        width: 100%;
        height: 3rem;
        background-color: #17181b;
        display: flex;
        justify-content: center;
        align-items: center;
}
.footer-content{
        width: 60%;
        display: flex;
        justify-content: space-between;
}

.footer-content p{
        font-family: var(--font-secundary);
        color: #f0e9e9;
        font-size: 1.5rem;
}

.social-list a{
        margin: 0 2rem;
        color:#a7a7a7;
        font-size: 1.3rem;
}
.social-list ul{
        display: flex;
}

#link-top{
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        background: #6a3093; 
        background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
        background: linear-gradient(to left, #a044ff, #6a3093);
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.9);
}


/*==================Responssívos=================*/


@media screen and (max-width: 768px){
        body{margin: 0;
        padding: 0;}
        
        .container{
                margin: 0;
                width:100%;
                padding: 0;
        }
        
        /*============Área do Banner============*/
        .img-wrapper{max-width:100%;height: 100vh;overflow: hidden;background-color: rgba(0, 0, 0, 0.9);
        border: red 2px solid;}

        .banner a{ padding-left: 35px;font-size: 3rem;}

        .banner p{width: 50%; font-size: 2rem;}

        .banner button{font-size: 1.5rem;}

        /*==========Área do Conhecimento===========*/
        .section-conhecimentos{border: solid rgb(0, 255, 213) 1px;}

        section .section-conhecimentos img{display: none; position: relative; }

        .conhecimento-img-wrapper img{position: relative;width: 300px; align-items: center; justify-content: center;text-align: center;left: 250px;}

        .section-conhecimentos p{font-size: 1.5rem; max-width: 80%; padding-left: 2%;}

        .section-conhecimentos h3{font-size: 1.5rem;padding-left: 2%}
        
        .section-conhecimentos a{font-size: 1rem;padding-left: 2%}
        
        .section-conhecimentos i{font-size: 1rem;padding-left: 2%}

        .conhecimentos i{ padding-top: 10% ;}
        
        .conhecimento-text{font-size: 15px; display: block;}
        
        .conhecimento i{font-size: 23px;}
        
        .conhecimentos{border: 1px solid black;display: inline;}

        div .conhecimento-text{width: 800px;display: block;}

        /*===========Área dos Projetos================*/

}

/*==================Responssívos=================*/


@media screen and (max-width: 660px){
        body{margin: 0;
        padding: 0;}
        
        .container{
                margin: 0;
                width:100%;
                padding: 0;
        }
        
        /*============Área do Banner============*/
        .img-wrapper{max-width:100%;height: 100vh;overflow: hidden;background-color: rgba(0, 0, 0, 0.9);
        border: red 2px solid;}

        .banner a{ padding-left: 35px;font-size: 3rem;}

        .banner p{width: 50%; font-size: 2rem;}

        .banner button{font-size: 1.5rem;}

        /*==========Área do Conhecimento===========*/


        .section-conhecimentos{border: solid rgb(0, 255, 213) 1px;}

        section .section-conhecimentos img{display: none; position: relative; }

        .conhecimento-img-wrapper img{display: none;}

        .section-conhecimentos p{font-size: 1.5rem; max-width: 80%; padding-left: 2%;}

        .section-conhecimentos h3{font-size: 1.5rem;padding-left: 2%}
        
        .section-conhecimentos a{font-size: 1rem;padding-left: 2%}
        
        .section-conhecimentos i{font-size: 1rem;padding-left: 2%}

        .conhecimentos i{ padding-top: 10% ;}
        
        .conhecimento-text{font-size: 15px; display: block;}
        
        .conhecimento i{font-size: 23px;}
        
        .conhecimentos{border: 1px solid black;display: inline;}

        div .conhecimento-text{width: 800px;display: block;}
        
        /*===========Área dos Projetos================*/
        
        /*============Área do Banner============*/
        /*========Contatos=============*/
        
        /*seção contato*/
        .sessao-contato{
                margin-top: 10%;
                width: 100vw;
        height: 100vh;
        background-color: #4e4c4c;
        display: flex;
        align-items: center;
        /*é empregada para alinhar os elementos ao longo do eixo principal:*/
        justify-content: center;
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}
/*area branca com a imagem*/
.contato-wrapper{
        width: 60%;
        height: 60%;
        display: flex;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}
/*area da imagem*/
.contato-left{
        width: 35%;
        background:
        linear-gradient(rgba(15,15,15, 0.6),rgba(22,22,22, 0.9)),
        url(imagem/cont01.jpg);
        background-size: cover;
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}
/*area branca*/
.contato-right{
        width: 55%;
        background-color: #eee;
        padding: 1rem 3rem 3rem 3rem;
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}
/*area no nome: Contato*/
.sessao-contato h1{
        width: 90%;
        /*para posicionar os texto:*/
        text-align: center;
        font-family: var(--font-primary);
        color: #272727;
        font-size: 2rem;
        font-weight: lighter;
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}

.sessao-contato form{
        width: 100%;
        display: flex;
        flex-direction: column;
        /*para posicionar os itens*/
        align-items: center;
        /*Apague o de baixo pra verificar*/
        /*border: solid red 1px;*/
}


/*===========Oraçamento=========*/
.sessao-orcamento{
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url('https://www.udacity.com/blog/wp-content/uploads/2020/06/HTML_Blog-scaled.jpeg');
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
}

.orcamento-wrapper{
        width: 50%;
        height: 80%;
        background-color: #ffffff99;
        border-radius: 10px;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
        position: relative;
}
                /*topo*/
.sessao-orcamento h1{
        position: absolute;
        top: -2.5rem;
        left: 2rem;
        background: #6a3093; 
        background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
        background: linear-gradient(to left, #a044ff, #6a3093);
        padding: 0 3rem;
        color: #ffff;
        font-family:var(--font-primary);
        font-size: 0.8rem;
        font-weight: lighter;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;
}
        /*caido branca*/
.sessao-orcamento form{
        margin: 1rem;
        /*O display:grid é pra iniciar a criação de colunas e linhas*/
        display: grid;
        grid-template-columns: auto 1fr;
        /*O column-gap é pra criar espaço entre as colunas*/
        column-gap: 1rem;
        /*O row-gap é pra criar espaço entra as linhas*/
        row-gap: 1rem;
}
        /*letras pretas*/
.sessao-orcamento label{
        font-family: var(--font-secundary);
        font-size: 0.7rem;
        font-weight: bold;
}

        /*caixa de números*/
.sessao-orcamento input[type="number"]{
        font-family: var(--font-secundary);
        max-width: 4rem;
        font-size: 1rem;
        outline: none;
        border-radius: 10px;
        /*O border: none serve pra tirar a borda do input*/
        border: none;
        padding: 0.3rem;
}
        /*botão de enviar*/
.btn-orcamento{
        text-transform: uppercase;
        padding: 0.4rem;
        cursor: pointer;
        grid-column: 2;
        font-size: 0.8rem;
}

}